body {font-size: 2rem; font-family: monospace; }

.item {
  padding: .5rem 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 0 10px rgba(0, 2, 0, 0.19);
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item .icon {
  display: block;
  border-radius: 100%;
  min-width: 6rem;
  min-height: 6rem;
  display: grid;
  place-items: center;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.item.done p {
  text-decoration: line-through;
  opacity: .5;
}


.item.done .icon {
  background-color: #00ff00;
}

.item.not-done .icon {
  background-color: #ff0000;
}

input {
  font-size: 2rem;
  padding: .5rem 1rem;
  display: block;
}

button {
  font-size: 2rem;
  padding: .5rem 1rem;
  display: block;
  margin-top: 1rem;
  border-radius: 2rem;
  cursor: pointer;
}